@-webkit-keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@-moz-keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@-webkit-keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
@media only screen and (min-width: 1280px)
{
}
@media only screen and (min-width: 980px) and (max-width: 1279px)
{
}
@media only screen and (min-width: 480px) and (max-width: 979px)
{
}
@media only screen and (max-width: 479px)
{
}
